In [33]:
#1. Implement Simple Na√Øve Bayes classification algorithm using Python/R on iris.csv dataset.
#2. Compute Confusion matrix to find TP, FP, TN, FN, Accuracy, Error rate, Precision, Recall 
#on the given dataset.

In [36]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix, ConfusionMatrixDisplay, precision_recall_curve

In [37]:
data
pd.read_csv('Iris.csv')
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [39]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [40]:
data.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [41]:
x = data.drop(['species'], axis=1)
y = data.drop(['sepal_length', 'sepal_width', 'petal_length', 'petal_width'], axis =1)

In [57]:
# Split the dataset into training and testing sets

In [43]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size = 0.2, shuffle=True)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(120, 4)
(30, 4)
(120, 1)
(30, 1)

In [58]:
# Train the Gaussian Naive Bayes model

In [59]:
model= GaussianNB()
model.fit(x_train, y_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [60]:
# Make predictions and evaluate the model

In [47]:
y_pred= model.predict(x_test)
model.score(x_test, y_test)

0.9666666666666667

In [48]:
print(accuracy_score (y_test,y_pred))

0.9666666666666667

In [51]:
cm =confusion_matrix(y_test,y_pred)
disp = ConfusionMatrixDisplay (confusion_matrix = cm)
print("Confusion matrix:")
print(cm)

Confusion matrix:
[[11  0  0]
 [ 0 10  1]
 [ 0  0  8]]

In [61]:
def get_confusion_matrix_values (y_true, y_pred): 
    cm = confusion_matrix(y_true, y_pred) 
    return(cm[0][0],cm[0][1],cm[1][0],cm[1][1])

In [55]:
TP, FP, FN, TN =  get_confusion_matrix_values (y_test, y_pred)

In [56]:
print("TP: ", TP)
print("FP: ", FP)
print("FN: ", FN)
print("TN: ", TN)
print("The accuracy is:", (TP+TN)/(TP+FP+FN+TN))
print("The error rate is:", (1-(TP+TN)/(TP+FP+FN+TN)))
print("The precision is:", TP/(TP+FP))
print("The recall is:", (TP)/(TP+FN))

TP:  11
FP:  0
FN:  0
TN:  10
The accuracy is: 1.0
The error rate is: 0.0
The precision is: 1.0
The recall is: 1.0