In [1]:
!pip install opendatasets
!pip install pandas

Requirement already satisfied: opendatasets in c:\programdata\anaconda3\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (4.65.0)
Requirement already satisfied: kaggle in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (1.6.12)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from opendatasets) (8.1.7)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: six>=1.10 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2024.2.2)
Requirement already satisfied: python-dateutil in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: urllib3 in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.0.7)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (23.1)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\programdata\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.4)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
import opendatasets as od
import matplotlib.pylab as plt
import numpy as np

In [3]:
od.download("https://www.kaggle.com/datasets/sankha1998/student-semester-result")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:

  sujitwalunj

Your Kaggle Key:

  ········

Dataset URL: https://www.kaggle.com/datasets/sankha1998/student-semester-result
Downloading student-semester-result.zip to .\student-semester-result

100%|██████████| 2.41k/2.41k [00:00<00:00, 1.55MB/s]

In [5]:
df = pd.read_csv("student-semester-result/data.csv")

In [6]:
df.head()

,1st,2nd,3rd,4th,5th,College Code,Gender,Roll,Roll no.,Subject Code
0,8.11,7.68,7.11,7.43,8.18,115,Female,NaN,17020.0,16
1,6.48,5.90,4.15,4.29,4.96,115,Male,NaN,17021.0,16
2,8.41,8.24,7.52,8.25,7.75,115,Female,NaN,17022.0,16
3,7.33,6.83,6.33,6.79,6.89,115,Male,NaN,17023.0,16
4,7.89,7.34,7.22,7.32,7.46,115,Male,NaN,17024.0,16

In [7]:
print(df)

      1st   2nd   3rd   4th   5th  College Code  Gender     Roll  Roll no.  \
0    8.11  7.68  7.11  7.43  8.18           115  Female      NaN   17020.0
1    6.48  5.90  4.15  4.29  4.96           115    Male      NaN   17021.0
2    8.41  8.24  7.52  8.25  7.75           115  Female      NaN   17022.0
3    7.33  6.83  6.33  6.79  6.89           115    Male      NaN   17023.0
4    7.89  7.34  7.22  7.32  7.46           115    Male      NaN   17024.0
..    ...   ...   ...   ...   ...           ...     ...      ...       ...
173  7.48  7.55  7.67  7.39  8.65           241       F  17048.0       NaN
174  7.30  6.41  6.59  7.11  7.38           241       M  17049.0       NaN
175  6.30  6.28  5.89  5.71  6.50           241       M  17050.0       NaN
176  7.04  7.10  6.81  7.00  6.92           241       M  17051.0       NaN
177  6.70  6.81  6.52  5.39  7.00           241       M  17052.0       NaN

     Subject Code
0              16
1              16
2              16
3              16
4              16
..            ...
173            28
174            28
175            28
176            28
177            28

[178 rows x 10 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   1st           176 non-null    float64
 1   2nd           174 non-null    float64
 2   3rd           176 non-null    float64
 3   4th           173 non-null    float64
 4   5th           172 non-null    float64
 5   College Code  178 non-null    int64
 6   Gender        177 non-null    object
 7   Roll          132 non-null    float64
 8   Roll no.      46 non-null     float64
 9   Subject Code  178 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 14.0+ KB

In [9]:
df.isnull().sum()

1st               2
2nd               4
3rd               2
4th               5
5th               6
College Code      0
Gender            1
Roll             46
Roll no.        132
Subject Code      0
dtype: int64

In [16]:
avg_1st = df["1st"].astype("float64").mean(axis = 0)
avg_2nd = df["2nd"].astype("float64").mean(axis = 0)
avg_3rd = df["3rd"].astype("float64").mean(axis = 0)
avg_4th = df["4th"].astype("float64").mean(axis = 0)
avg_5th = df["5th"].astype("float64").mean(axis = 0)


# df["1st"], df["2nd"], etc., access the columns named "1st", "2nd", etc., respectively.
# astype("float64") converts the values in each column to float64 data type to ensure accurate calculation of the mean.
# mean(axis=0) calculates the mean along the specified axis (axis=0 means the mean is calculated column-wise).

In [11]:
print("Average marks of 1st paper : ",avg_1st)
print("Average marks of 2nd paper : ",avg_2nd)
print("Average marks of 3rd paper : ",avg_3rd)
print("Average marks of 4th paper : ",avg_4th)
print("Average marks of 5th paper : ",avg_5th)

Average marks of 1st paper :  7.038863636363637
Average marks of 2nd paper :  6.943390804597701
Average marks of 3rd paper :  6.6225
Average marks of 4th paper :  7.027745664739886
Average marks of 5th paper :  7.432558139534884

In [17]:
df["1st"].replace(np.nan,avg_1st,inplace = True)
df["2nd"].replace(np.nan,avg_2nd,inplace = True)
df["3rd"].replace(np.nan,avg_3rd,inplace = True)
df["4th"].replace(np.nan,avg_4th,inplace = True)
df["5th"].replace(np.nan,avg_5th,inplace = True)

# This line replaces NaN values in the specified column with the average value (avg_value). 
# The inplace=True argument ensures that the changes are made directly to the DataFrame df, 
# without the need for reassignment.
# inplace = False => it will return new dataframe with replaced values rather than modifying original dataframe.

In [18]:
df.isnull().sum()

1st               0
2nd               0
3rd               0
4th               0
5th               0
College Code      0
Gender            1
Roll             46
Roll no.        132
Subject Code      0
dtype: int64

In [19]:
max_1st = df['1st'].max()
max_2nd = df['2nd'].max()
max_3rd = df['3rd'].max()
max_4th = df['4th'].max()
max_5th = df['5th'].max()

#This part calculates the maximum value found in the specified column.

In [20]:
print(max_1st,max_2nd,max_3rd,max_4th,max_5th)

9.15 9.21 9.59 9.31 9.46

In [24]:
cgpa_coloumns = ['1st','2nd','3rd','4th','5th']
max_values = [max_1st,max_2nd,max_3rd,max_4th,max_5th]
for col,max_values in zip(cgpa_coloumns,max_values):
    df[col+'_Percentage'] = (df[col]/max_values)*100
#cgpa_columns: This list contains the names of the columns you want to calculate percentages for.
#max_values: This list contains the maximum values for each corresponding column.
#The for loop iterates over each column name and its corresponding maximum value using zip(cgpa_columns, max_values).
#For each iteration, it calculates the percentage of each value in the column relative to its maximum value and stores the result in a new column with the suffix "_Percentage"

# all these for nomalization.

In [25]:
print(df)

      1st   2nd   3rd   4th   5th  College Code  Gender     Roll  Roll no.  \
0    8.11  7.68  7.11  7.43  8.18           115  Female      NaN   17020.0
1    6.48  5.90  4.15  4.29  4.96           115    Male      NaN   17021.0
2    8.41  8.24  7.52  8.25  7.75           115  Female      NaN   17022.0
3    7.33  6.83  6.33  6.79  6.89           115    Male      NaN   17023.0
4    7.89  7.34  7.22  7.32  7.46           115    Male      NaN   17024.0
..    ...   ...   ...   ...   ...           ...     ...      ...       ...
173  7.48  7.55  7.67  7.39  8.65           241       F  17048.0       NaN
174  7.30  6.41  6.59  7.11  7.38           241       M  17049.0       NaN
175  6.30  6.28  5.89  5.71  6.50           241       M  17050.0       NaN
176  7.04  7.10  6.81  7.00  6.92           241       M  17051.0       NaN
177  6.70  6.81  6.52  5.39  7.00           241       M  17052.0       NaN

     Subject Code  1st_Percentage  2nd_Percentage  3rd_Percentage  \
0              16       88.633880       83.387622       74.139729
1              16       70.819672       64.060803       43.274244
2              16       91.912568       89.467970       78.415016
3              16       80.109290       74.158523       66.006257
4              16       86.229508       79.695983       75.286757
..            ...             ...             ...             ...
173            28       81.748634       81.976113       79.979145
174            28       79.781421       69.598263       68.717414
175            28       68.852459       68.186754       61.418144
176            28       76.939891       77.090119       71.011470
177            28       73.224044       73.941368       67.987487

     4th_Percentage  5th_Percentage
0         79.806660       86.469345
1         46.079484       52.431290
2         88.614393       81.923890
3         72.932331       72.832981
4         78.625134       78.858351
..              ...             ...
173       79.377014       91.437632
174       76.369495       78.012685
175       61.331901       68.710359
176       75.187970       73.150106
177       57.894737       73.995772

[178 rows x 15 columns]